body{
    background-color: #bdbdbd;
    color: black;
    font-family: var(--monospace-font-family);
}

p::before {
    content: 'Error: '
}

/* Tested on http://127.0.0.1:5501/?url_src=https%3A%2F%2Fggpht.ga%2Fbanners%2FWallpaper5.png */